/* App */
.app-container {
  max-width: 992px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Helper classes */
.greenText {
  color: rgb(174, 201, 0);
}

/* Header */
header {
  padding-top: 15px;
}
.logo {
  font-size: 30px;
  font-weight: 700;
  color: #666;
  margin: 0px 0 -4px 0;
  letter-spacing: 1px;
}
.subtitle {
  font-weight: 300;
  font-size: 14px;
  color: #666;
  margin: 0;
}
nav {
  background-color: #777;
  margin-top: 10px;
  border-radius: 5px;
}
.menu {
  padding: 0;
  min-height: 34px;
}
.menu-item {
  display: inline-block;
  padding: 8px 15px;
  color: white;
  font-weight: 300;
  font-size: 15px;
  text-decoration: none;
}
.menu-item:first-child {
  padding: 3px 15px 7px 15px;
  font-size: 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.menu-item:hover{
  background-color: #8DA300;
}
.active{
  background-color: #8DA300;
}


/* Toolbar */
.toolbar {
  margin: 30px 0;
}
.addPost-container {
  display: inline-block;
  width: 50%;
}
.sortPosts-container {
  display: inline-block;
  width: 50%;
  text-align: right;
}
.greenButton {
  font-size: 16px;
  width: 170px;
  text-align: center;
  color: white;
  font-weight: 300;
  padding: 7px 0;
  background-color: #8DA300;
  box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.20);
  cursor: pointer;
  border-radius: 5px;
}
.greenButton:hover { 
  background: #7c8f00;
  box-shadow: none;
}
.greenButton:active { 
  background: #6b7b00;
  box-shadow: none;
}
.sortPosts-container label {
  color: #4A4A4A;
  font-size: 14px;
  margin-right: 12px;
}
.sortPosts-container select {
  color: #666;
  font-size: 14px;
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 5px;
}


/* Posts */
.postsList {
  list-style: none;
  margin: 0;
  padding: 0;
}
.post {
background-image: linear-gradient(-180deg, #FFFFFF 0%, #F9F9F9 100%);
box-shadow: 0px 0px 8px 0 rgba(0,0,0,0.07);
padding: 15px 25px 12px 25px;
display: flex;
border-radius: 5px;
margin-bottom: 15px;
}
.postContent {
  flex: 1 1 auto;
  margin-left: 25px;
}
.postInfo {
  font-size: 13px;
  color: #999;
}
.postTitle {
  font-weight: 500;
  font-size: 20px;
  color: #4A4A4A;
  margin: 3px 0;
  display: inline;
}
.postTitle:hover {
  color: #7c8f00;
}
.excerpt {
  font-size: 15px;
  color: #777;
  font-weight: 300;
  margin: 5px 0;
}
.comments {
  font-weight: 500;
  font-size: 13.5px;
  color: #4A4A4A;
  display: inline-block;
  padding: 3px 0;
}
.postActions {
  float: right;
}
.edit, .delete {
  font-size: 13.5px;
  color: #9B9B9B;
  display: inline-block;
  padding: 3px 7px;
}
.edit:hover, .delete:hover {
  color: #666;
  background: #eee;
  border-radius: 3px;
  cursor: pointer;
}


/* Votes component */
.votes {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.v-post {
  height: 88px;
}
.v-comment {
  height: 60px;
}
.arrow {
  width: 0;
	height: 0;
  cursor: pointer;
}
.arrowUp-post {
	border-left: 21px solid transparent;
	border-right: 21px solid transparent;
  border-bottom: 20px solid #AAA;
}
.arrowUp-comment {
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
  border-bottom: 12px solid #AAA;
}
.arrowUp-post:hover,
.arrowUp-comment:hover {
  border-bottom-color: #8DA300;
}
.arrowUp-post:active,
.arrowUp-comment:active {
  border-bottom-color: #7c8f00;
}
.arrowDown-post {
	border-left: 21px solid transparent;
	border-right: 21px solid transparent;
  border-top: 20px solid #AAA;
}
.arrowDown-comment {
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
  border-top: 12px solid #AAA;
}
.arrowDown-post:hover,
.arrowDown-comment:hover {
  border-top-color: #8DA300;
}
.arrowDown-post:active,
.arrowDown-comment:active  {
  border-top-color: #7c8f00;
}
.voteNum {
  color: #555;
  font-weight: 300;
  font-style: italic;
  text-align: center;
}
.vNum-post {
  font-size: 28px;
}
.vNum-comment {
  font-size: 16px;
}


/* Modal Form */
.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.85);
}
.modal {
  position: relative;
  max-width: 550px;
  top: 40px;
  margin: 0 auto;
  border: 1px solid rgb(228, 220, 214);
  background-color: rgb(248, 247, 246);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 0 80px 0 rgba(0,0,0,.25);
}
.modalHeader {
  height: 33px;
}
.closeBtn {
  font-size: 28px;
  color: #999;
  margin-right: 5px;
  cursor: pointer;
  float: right;
}
.closeBtn:hover {
  color: #666;
}
.modalBody {
  padding: 18px 60px 60px 60px;
}
.modalTitle {
  padding: 0 0 4px 0;
  margin: 0;
  border-bottom: 2px solid #95A81D;
  color: #777;
  font-size: 22px;
  font-weight: 400;
}
.modalForm {
  margin-top: 25px;
}
.flatInput {
  width: 100%;
  height: 30px;
  margin-bottom: 25px;
  background-image: none !important;
  background-color: #fff !important;
  border-radius: 5px;
  border: 1px solid #ccc !important;
  padding: 0 5px;
  font-size: 16px;
  color: #555;
}
.flatInput::placeholder,
.modalForm textarea::placeholder
{
  color: #aaa;
}
.modalForm textarea {
  height: 210px;
  width: 100%;
  background-color: #fff !important;
  border-radius: 5px;
  border: 1px solid #ccc !important;
  padding: 5px 5px;;
  font-size: 16px;
  color: #555;
  margin-bottom: 25px;
}
.formButton {
  width: 100%;
  margin-top: 10px;
  border: none;
}
.postDate {
  width: 100%;
  margin-bottom: 10px;
  font-size: 14px;
  font-style: italic;
  color: #777;
}
.warning {
  margin: 0;
  font-size: 13px;
  color: rgb(207, 9, 9);
  text-align: center;
}


/* Full Post */
.fullPostContainer {
  margin-top: 45px;
  display: flex;
}
.voteSection {
  width: 90px;
  padding-top: 42px;
  flex: 0 0 auto;
}
.postSection {
  padding: 40px;
  background-image: linear-gradient(-180deg, #FFFFFF 0%, #F9F9F9 100%);
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.07);
  border-radius: 5px;
  width: 792px;
}
.fullPost p {
  margin: 0;
}
.fullpostInfo {
  font-size: 15px;
  color: #999;
  font-weight: 300;
} 
.fullpostTitle{
  color: #4A4A4A;
  margin: 8px 0 8px;
  font-size: 30px;
} 
.fullpostBody {
  font-weight: 300;
  font-size: 17px;
  line-height: 26px;
  color: #666;
  margin-bottom: 15px !important;
} 
.commentsSection {
  margin-top: 60px;
}
.commentsNum {
  font-weight: 400;
  color: #666;
  padding-bottom: 3px;
  border-bottom: 2px solid rgb(223, 231, 173);
}
.commentsList {
  list-style: none;
  margin: 0;
  padding: 0;
}


/* Comment component */
.comment {
  display: flex;
  margin-bottom: 25px;
}
.commentVote {
  width: 56px;
  flex: 0 0 auto;
}
.mainComment {
  flex: 1 1 auto;
}
.commentInfo {
  font-size: 12px;
  color: #888;
  font-weight: 300;
  margin: 0;
}
.commentBody {
  font-size: 14px;
  color: #444;
  font-weight: 300;
  margin: 7px 0 8px 0;
}
.commentActions {
  font-size: 13px;
  color: #999;
}
.editComment,
.deleteComment {
  display: inline-block;
  margin-right: 15px;
}
.editComment:hover,
.deleteComment:hover {
  cursor: pointer;
  color: #666;
}

/* New Comment form */
.commentForm-container {
  background-color: #f6f6f6;
  padding: 20px 15px 15px 15px;
  border-radius: 5px;
  margin-bottom: 25px;
  margin-left: 55px;
  opacity: .7;
}
.commentForm-container:hover {
  opacity: 1;
}
.commentFormTitle {
  font-size: 14px;
  color: #888;
  margin: 0 0 7px 0;
}
.commentForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.commentFormBody {
  height: 42px;
  width: 100%;
  background-color: #fff !important;
  border-radius: 5px;
  border: 1px solid #ccc !important;
  padding: 5px 5px;;
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}
.commentAuthor {
  width: 240px;
  height: 25px;
  background-image: none !important;
  background-color: #fff !important;
  border-radius: 5px;
  border: 1px solid #ccc !important;
  padding: 0 5px;
  font-size: 14px;
  color: #555;
}
.commentFormBody::placeholder,
.commentAuthor::placeholder
{
  color: #aaa;
}
.commentForm button {
  border: none;
  height: 25px;
  font-size: 14px;
  padding: 0;
  width: 140px;
  display: inline-block;
}

/* Edit comment form */
.editCommentBody {
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #f6f6f6;
  font-size: 14px;
  width: 100%;
  font-weight: 300;
}
.editBtn {
  background: transparent;
  border: none;
  font-size: 13px;
  margin: 0 15px 0 0;
  padding: 0;
  color: #999;
  display: inline-block;
}
.editBtn:hover {
  color: #666;
  cursor: pointer;
}

/* Error page */
.errorPage {
  text-align: center;
  margin-top: 50px;
}
.errorPage h2,
.errorPage p {
  color: #666;
  font-weight: 300;
}
.errorPage p {
  font-size: 17px;
}
.returnLink {
  color: #666;
}
.returnLink:hover {
  color: #7c8f00;
}

/* Loading page*/
.loadPage {
  text-align: center;
  margin-top: 35px;
}
.loadPage h2 {
  color: #ccc;
  font-weight: 300;
}
@media only screen and (max-width: 660px) { 
  .commentAuthor {
    margin-bottom: 10px;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .menu-item {
    padding: 8px 12px;
  }
  /* List view for post */
  .post {
    padding: 15px 15px 12px 15px;
    }
  .postContent {
      margin-left: 15px;
  }
  .addPost-container {
    width: 130px;
  }
  .sortPosts-container {
    width: calc(100% - 130px);
  }
  .greenButton {
    width: 130px;
  }
  .postInfo span:first-child {
    display: block;
  }
  span.hide {
    display: none;
  }
  .modalBody {
    padding: 15px
  }
  /* Post View and comments */
  .postSection {
    padding: 35px 15px 35px 15px; 
  }
  .fullpostInfo {
    font-size: 14px;
  }
  .fullpostInfo span:first-child {
    display: block;
  }
  .fullpostTitle {
    font-size: 22px;
  }
  .fullpostBody {
    font-size: 16px;
  }
  .commentForm-container {
    margin-left: 0;
  }
  .commentVote {
    width: 30px;
    margin-right: 10px;
  }

  /* vote */
  .voteSection {
    width: 35px;
    margin-right: 10px;
    padding-top: 43px;
  }
  .arrowUp-post {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 12px solid #AAA;
  }
  .arrowDown-post {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 12px solid #AAA;
  }
  .vNum-post {
    font-size: 18px;
  }
}